{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-clean-order",
    "stylelint-prettier/recommended"
  ],
  "overrides": [
    {
      "files": [
        "**/*.{js,jsx,ts,tsx}"
      ],
      "customSyntax": "postcss-styled-syntax"
    }
  ]
}
